.main-card
  .main-card__top
    支払い方法
  .main-card__bottom
    .main-card__bottom--first
      .main-card__bottom--first__credit-card
        クレジットカード一覧
    .main-card__bottom--second
      .main-card__bottom--second__credit-btn
        = link_to("#", class: "credit-btn") do
          %i.credit-btn__btn.fa.fa-credit-card
          クレジットカードを追加する
    .main-card__bottom--third
      = link_to("#", class: "how-pay") do
        支払い方法について
        %i.how-pay__btn.fa.fa-chevron-right