.free-market-all
  .margin-top
    .my-page-main
      .my-page-main__icon-line
        .my-page-main__icon-line--samiel
          = link_to("#", class: "buy__second--right__btn") do
            %i.left-btn.fa.fa-user-circle
        .my-page-main__icon-line--user-name
          user name
        .my-page-main__icon-line--review
          review and number
    .main-buy
      .buy
        .buy__first
          出品した商品
        .buy__second
          %a.buy__second--left.left-man
            取引中
          %a.buy__second--right.right-man
            過去の取引
        .buy__third
          取引中の商品がありません
        .buy__fifth
          過去の取引はありません

