.free-market-all
  .margin-top
    .my-page-main
      .my-page-main__icon-line
        .my-page-main__icon-line--samiel
          = link_to("#", class: "buy__second--right__btn") do
            %i.left-btn.fa.fa-user-circle
        .my-page-main__icon-line--user-name
          user name
        .my-page-main__icon-line--review
          review and number
    .main-buy
      .buy
        .buy__first
          出品した商品
        .buy__second
          .buy__second--left
            = link_to("#", class: "buy__second--left__btn") do
              取引中
          .buy__second--right
            = link_to("#", class: "buy__second--right__btn") do
              過去の取引
        .buy__third
          取引中の商品がありません

