.status__container
  .header__title
    %h1.title_font
      出品した商品
  %ul.status__container__title
    %li.exhibited__title
      %h1.exhibited__title_left
        出品中
    %li.transaction__title
      %h1.exhibited__title_center
        取引中
    %li.sold__title
      %h1.exhibited__title_right
        売却済み
  %ul.status__container__box
    %li.exhibited__box
    %li.transaction__box
    %li.sold__box