.create-one
  .create-one__body-main
    .create-one__body-main--top
      %br 人生を変えるフリマアプリ
    .create-one__body-main--middle
      %br FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
    .create-one__body-main--btn
      = link_to "#", class: "icon" do
        = image_tag 'google-play-badge.png',class: "aBtn"
      = link_to "#", class: "icon" do
        = image_tag 'google-play-badge.png',class: "bBtn"