.box
  .box__top
    .box__top--title
      FURIMAが選ばれる3つの理由
    .box__top--line
  .box__main
    .box__main--left
      = image_tag "pict-reason-01", size: "306x306"
      .box__main--left--sub-title
        .box__main--left--sub-title--green
          3分
        .box__main--left--sub-title--black
          ですぐに出品
    .box__main--center
      = image_tag "pict-reason-02", size: "306x306"
      .box__main--center--sub-title
        .box__main--center--sub-title--green
          シンプル
        .box__main--center--sub-title--black
          で使いやすい
    .box__main--right
      = image_tag "pict-reason-03", size: "306x306"
      .box__main--right--sub-title
        .box__main--right--sub-title--black
          手数料
        .box__main--right--sub-title--green
          業界最安
