%li.hideTree__children--item
  = link_to "#", class: "item-link" do
    -# = "#{category.category}"
  %ul.hideTree__grandchildren
    -# = render partial: "header_grand-child", collection: category.children, as: "children"