.create-one
  .create-one__body-main
    .create-one__body-main--top
      %p 人生を変えるフリマアプリ
    .create-one__body-main--middle
      %p FURIMAはだれでもかんたんに出品・購入できる
      %p フリマアプリです
    .create-one__body-main--btn
      = link_to "#", class: "icon" do
        = image_tag 'bag_app.png',class: "appBtn"
      = link_to "#", class: "icon" do
        = image_tag 'google-play-badge.png',class: "googleBtn"