.brand-box
  %ul.lists
    %li.list1
      = link_to root_path, class: "list1--link1" do
        FURIMA
      >
    %li.list2
      = link_to "#", class: "list2--link2" do
        レディース
      >
    %li.list3
      = link_to "#", class: "list3--link3" do
        トップス
      >
    %li.list4
      = link_to "#",class: "list4--link4" do
        Tシャツ/カットソー(半袖/袖なし)
      >
    %li.list5
      products1
