.brand-box
  %ul
    %li
      = link_to root_path do
        FURIMA
      >
    %li
      = link_to "#" do
        レディース
      >
    %li
      = link_to "#" do
        トップス
      >
    %li
      = link_to "#" do
        Tシャツ/カットソー(半袖/袖なし)
      >
    %li
      products1
