.box
  .box__top
    .box__top--title
      FURIMAが選ばれる3つの理由
    .box__top--line
  .box__main
    .box__main--left
      = image_tag "pict-reason-01.jpg", size: "306x306"
      .box__main--left--sub-title
        %h3.box__main--left--sub-title--green
          3分
        %span
          ですぐに出品
      %p.box__main--left--text
        スマホで入力するだけで簡単に出品できる！
      .box__main--left--num1
        1
    .box__main--center
      = image_tag "pict-reason-02.jpg", size: "306x306"
      .box__main--center--sub-title
        %h3.box__main--center--sub-title--green
          シンプル
        %span
          で使いやすい
      %p.box__main--center--text
        めんどくさい入力は必要なく、検索も購入もスムーズ！
      .box__main--center--num2
        2
    .box__main--right
      = image_tag "pict-reason-03.jpg", size: "306x306"
      .box__main--right--sub-title
        %h3
          手数料
        %span.box__main--right--sub-title--green
          業界最安
      %p.box__main--right--text
        最大3%でお得に出品&購入！
      .box__main--right--num3
        3
