.wrapper
  .containerFeatures
    %h2.head__title
      FURIMAの特徴
    .containerFeatures__items
      .containerFeatures__items__list
        %figure.containerFeatures__images
          = image_tag "icon-01.png", class: "containerFeatures__images__image"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホ１つで、いつでもどこでも簡単に出品、購入が可能！
      .containerFeatures__items__list
        %figure.containerFeatures__images
          = image_tag "icon-03.png", class: "containerFeatures__images__image"
        %h3.item__subtitle
          売上金は即日振り込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .containerFeatures__items__list
        %figure.containerFeatures__images
          = image_tag "icon-04.png", class: "containerFeatures__images__image"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
