.mix-exhibiting{
  display: flex;
  background: #f5f5f5;
  margin: 40px auto 0;

  .main-bought{
    width: 80%;
    height: 100vh;
    margin-top: 100px;
    .bought{
      max-width: 700px;
      min-height: 466px;
      &__first{
        height: 72px;
        background: #fafafa;
        padding: 0 16px;
        font-size: 16px;
        line-height: 72px;
        font-weight: bold;
      }
      &__second{
        display: flex;
        height: 74px;
        line-height: 74px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background: #eee;
        a{
          text-decoration: none;
          color: black;
        }
        a:hover{
        }
        &--left{
          width: 50%;
        }
        &--left:hover{
          color: rgba(73, 73, 73, 0.5);
          opacity: 0.6;
        }
        &--center:hover{
          color: rgba(73, 73, 73, 0.5);
          opacity: 0.6;
        }
        &--right{
          width: 50%;
          border-top: red solid;
          background: #fafafa;
        }
        &--right:hover{
          color: rgba(73, 73, 73, 0.5);
          opacity: 0.6;
        }
      }
      &__third{
        height: 236px;
        background: #fafafa;
        color: #cccccc;
        text-align: center;
        padding: 160px 0 60px;
        font-size: 16px;
        font-weight: bold;
      }
      &__forth{
        margin-top: 40px;
        display: flex;
        position: relative;
        .left-btn{
        }
        .right-btn{
          position: absolute;
          right: 0;
        }
      }
    }
  }
}