
li{
  list-style: none;
}

.list--menu{
  color: white;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
}
.list--menu:hover {
  text-decoration: underline;
}


.footer{
  background-color: black;
  color: white;
  padding: 60px 0;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__list{
      text-decoration: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &--title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &__logo{
    &__white{
      margin: 0 auto;  
      max-width: 160px;
      width: 100%;
    }
  }
}