*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categoryBtn,.brandBtn {
  text-decoration: none;
  color: $black;
}

.categoryBtn:hover,.brandBtn:hover {
  background-position: -100% 0;
  color: orange;
}



.header {
  padding: 0 60px;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  &__box {
    margin: 0 auto;
    height: 100%;
    min-height: 82px;
    width: 100%;
    max-width: 1040px;
    &__main {
      padding-top: 15px;
      padding-bottom: 10px;
      &--icon {
        background-image: url(logo.png);
        height: 40px;
        width: 140px;
        background-size: cover;
      }
    }
    &__sub {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      line-height: 32px;
      padding-top: 1px;
      &__left {
        display: flex;
        font-size: 14px;

        &--category {
          padding-right: 30px;
          .hideTree{
            // display: none;
            display: flex;
            z-index: 2;
            position: absolute;
            background-color: $white;
            width: 240px;
            &__parent{
              position: relative;
              display: flex;
              flex-direction: column;
              background-color: $white;
              &--item{
                position: relative;
                .item__link{
                  color: $black;
                  text-decoration: none;
                  line-height: 32px;
                  background-position: center right;
                  background-repeat: no-repeat;
                  background-size: 18px;
                  padding-right: 30px;
                  display: block;
                  width: 240px;
                  padding: 3px 8px 3px 5px;
                  border-bottom: 1px solid #f8f8f8;
                  &:hover{
                    background-position: -100% 0;
                    color: orange;
                  
                  }
                }
              }
            }
          }
        }
        &--brand {
          padding-right: 30px;
          padding-left: 16px;
        }
      }
      &__right {
        font-size: 14px;
        display: block;
        &--log-in{
          text-decoration: none;
          color: $black;
        }
        &--register-user {
          padding-left: 12px;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}