.create-one{
  width: 100%;
  height: 560px;
  background-image: image-url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  &__body-main{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
    height: 336.33px;
    &--top{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }
    &--middle{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    &--btn{
      display: flex;
      margin: 24px 0 0 0;

    }
  }
}

