.side-bar {
  height: 100vh;
  width: 35vw;
  padding-left: 100px;
  padding-right: 50px;
  background-color: rgb(245, 245, 245);
  &_upper {
    width: 100%;
    padding-top: 100px;
    ul.products-box {
      height: 90%;
      width: 80%;
      float: right;
      list-style: none;
      p {
        font-weight: bold;
        font-size: 25px;
      }
      li.mypage {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_mypage {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px;
        }
      }
      li.mypage:hover {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        .link_mypage {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.exhibition {
        height: 50px;
        width: 100%;
        background-color: #fff;
        transition: 0.5s;
        display: flex;
        .link_exhibition {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
        .icon {
          line-height: 1px;
          font-weight: 400px;
          color: black;
        }
      }
      li.exhibition:hover {
        height: 50px;
        width: 100%;
        background-color: rgb(229, 235, 238);
        .link_exhibition {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.exhibited {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_exhibited {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.exhibited:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        .link_exhibited {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.transaction {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_transaction {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.transaction:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        .link_transaction {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.sold {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_sold {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.sold:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        transition: 0.5s;
        .link_sold {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.purchase {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_purchase {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.purchase:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        .link_purchase {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.purchased {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_purchased {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.purchased:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        .link_purchased {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &_lower {
    height: 50%;
    width: 100%;
    ul.mypages-box {
      height: 52%;
      width: 80%;
      float: right;
      list-style: none;
      p {
        font-weight: bold;
        font-size: 25px;
      }
      li.card {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_card {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.card:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        transition: 0.5s;
        .link_card {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
      li.logout {
        height: 50px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #eee;
        transition: 0.5s;
        display: flex;
        .link_logout {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          margin-left: 30px;
          line-height: 50px
        }
      }
      li.logout:hover {
        height: 50px;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: rgb(229, 235, 238);
        transition: 0.5s;
        .link_logout {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.icon-btn{
  line-height: 50px;
  padding-right: 10px;
  color: #ccc;
}
