

.head{
  font-weight: bold;
  text-align: center;
  color: $light_green;
}

.products--head{
  text-decoration: none;
}


.listBtn{
  text-decoration: none;
  display: inline-block;
  background-color: white;
}

.listBtn:hover {
  opacity: 0.5 ;
}


.product--name{
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

.product__images{
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;
  &--image{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: auto;
    height: 150px;
    object-fit: cover;
  }
}

.details__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taxIncluded{
  font-size: 10px;
  text-align: left;
}

.containerBrand{
  background-color: #f8f8f8;
  padding-bottom: 80px;
  height: 100%;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
    &__product{

      &--head{
      }
      &--lists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      &__list{
        width: 220px;
        display: inline-block;
        &--body{
          background-color: white;
          color: black;
          padding: 16px;
          &__details{
            font-size: 16px;
          }
        }
      }
    }
  }
}