.box {
  padding: 60px 20px;
  &__top {
    margin-bottom: 25px;
    &--title {
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 7px;
    }
    &--line {
      height: 4px;
      width: 70px;
      background-color: $light_green;
      margin: 0 auto;
    }
  }
  &__mains {
    display: flex;
    align-items: center;
    max-width: 1020px;
    margin: 0 auto;
    &__main {
      width: 30%;
      position: relative;
      margin: 16px 5% 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &--sub-title {
        font-size: 24px;
        font-weight: bold;
        &--green {
          color: $light_green;
          font-size: 24px;
          font-weight: bold;
        }
        &--black {
          color: $black;
          font-size: 24px;
          font-weight: bold;
        }
      }
      &--text {
        margin: 25px 0 0;
        font-size: 18px;
      }
      &--num {
        background-color: $light_green;
        padding: 10px 20px;
        font-size: 30px;
        color: $white;
        height: 55px;
        width: 55px;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__main-right {
      width: 30%;
      position: relative;
      margin: 16px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &--text {
        margin: 25px 0 27px;
        font-size: 18px;
      }
      &--num {
        background-color: $light_green;
        padding: 10px 20px;
        font-size: 30px;
        color: $white;
        height: 55px;
        width: 55px;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    }
}
.top-img {
  width: 100%;
  padding-bottom: 25px;
}