.box {
  padding: 60px 20px;
  &__top {

    &--title {
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      padding-bottom: 7px;
    }
    &--line {
      height: 4px;
      width: 70px;
      background-color: light_green;
      margin: 0 auto;
    }
  }
  &__main {
    padding: 40px 0px 40px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--left {
      width: 30%;
      padding-right: 45px;
      position: relative;
      &--sub-title {
        display: flex;
        font-size: 24px;
        margin: 0 63px;
        &--green {
          color: light_green;
        }
        &--black {
        }
      }
      &--text{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
        max-width: 306px;
      }
      &--num1 {
        font-size: 30px;
        background-color: light_green;
        color: white;
        padding: 10px 20px;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &--center {
      width: 30%;
      padding-right: 45px;
      position: relative;
      &--sub-title {
        display: flex;
        font-size: 24px;
        margin: 0 32px;
        &--green {
          color: light_green;
        }
        &--black{
        }
      }
      &--text{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
        align-items: center;
        max-width: 306px;
      }
      &--num2 {
        font-size: 30px;
        background-color: light_green;
        color: white;
        padding: 10px 20px;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &--right {
      width: 30%;
      position: relative;
      padding-bottom: 25px;
      &--sub-title {
        display: flex;
        font-size: 24px;
        margin: 0 69px;
        &--black {
        }
        &--green {
          color: light_green;
        }
      }
      &--text{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
        max-width: 306px;
      }
      &--num3 {
        font-size: 30px;
        background-color: light_green;
        color: white;
        padding: 10px 20px;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}