.login-wrapper {
  height: 150vh;
  width: 100vw;
  .login-header {
    height: 10%;
    width: 100%;
    background-color: #f5f5f5;
    .login-header-title {
      height: 150%;
      width: 35%;
      background-color: #f5f5f5;
      margin: 0 auto;
      .header_link_icon {
        height: 50%;
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
      }
    }
  }
  .login-container {
    height: 80%;
    width: 100%;
    background-color:#f5f5f5;
    padding: 0px;
    margin: 0px;
    ul.signup-box {
      background-color: #fff;
      height: 20%;
      width: 35%;
      list-style: none;
      margin: 0 auto;
      padding: 0px;
      border-bottom: 1px solid #eee;
      position: relative;
      li.signup-font {
        p.not-account {
          text-align: center;
          margin: 0px;
          padding-top: 80px;
          font-size: 15px;
        }
      }
      li.signup-btn {
        height: 42px;
        width: 328px;
        background-color: #0099e8;
        margin: 0 auto;

      }
      .signup_link {
        text-decoration: none;
        position: absolute;
        top: 102px;
        left: 165px;
        padding: 10px 100px;
        color: #fff;
      }
    }
    ul.othersite-login {
      background-color: #fff;
      height: 30%;
      width: 35%;
      margin: 0 auto;
      padding: 0px;
      padding-top: 32px;
      list-style: none;
      li.facebook-btn {
        height: 50px;
        width: 328px;
        background: #385185;
        margin: 0 auto;
        .facebook-font {
          text-decoration: none;
          height: 100%;
          width: 100%;
          color: #fff;
          position: relative;
          top: 15px;
          left: 10px;
          padding: 15px 90px;
          background: url(facebook-icon.png),no-repeat 3px top;
          background-position: left top;
          background-size: 10% auto;
          background-repeat: no-repeat;
          background-position-x: 0px;
          background-position-y: center;
        }
        .facebook-icon {
          height: 600px;
          width: 600px;
        }
      }
      li.google-btn {
        height: 50px;
        width: 328px;
        background: #fff;
        border: #979797 solid 1px;
        margin: 0 auto;
        margin-top: 16px;
        position: relative;
      }
      .google-font {
        text-decoration: none;
        color: black;
        position: absolute;
        top: 590px;
        right: 725px;
        padding: 15px 100px;
        background: url(google-icon.jpg),no-repeat 3px top;
        background-position: left top;
        background-size: 10% auto;
        background-repeat: no-repeat;
        background-position-y: center;
      }
    }
    .new_user {
      background-color: #fff;
      height: 25%;
      width: 35%;
      list-style: none;
      padding: 0px;
      margin: 0 auto;
      position: relative;
      li.input-address {
        position: absolute;
        left: 150px;
        bottom: 300px;
        input {
          height: 40px;
          width: 330px;
          line-height: 1.5;
          font-size: 16px;
          padding-left: 20px;
        }
        input::placeholder {
          line-height: 1.5;
          font-size: 16px;
        }
      }
      li.input-password {
        position: absolute;
        left: 150px;
        bottom: 230px;
        input {
          height: 40px;
          width: 330px;
          line-height: 1.5;
          font-size: 16px;
          padding-left: 20px;
        }
        input::placeholder {
          line-height: 1.5;
          font-size: 16px;
        }
      }
      .login-btn {
        height: 50px;
        bottom: 50px;
        width: 335px;
        position: absolute;
        bottom: 100px;
        left: 150px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        cursor: pointer;
      }
      .forgot-link-page {
        position: relative;
        top: 210px;
        left: 150px;
      }
    }
    .login-footer {
      background-color: #f5f5f5;
      height: 10%;
      width: 100%;
      margin: 0px;
      padding: 0px;
      ul.login-footer__bottom {
        width: 50%;
        list-style: none;
        margin: 0 auto;
        text-align: center;
        li.tail-icon {
          .mercari-icon {
            padding-top: 20px;
          }
        }
        li.tail-title {
          p.inc {
          }
        }
      }
    }
  }
}